

<div class="googleMaps">

  <h1 >Your Strides</h1>
<div class="history_box">
  <a href="/maps/history1">River route</a>
  <p> Avg time - 10:48</p>
  <p>Times taken - 15</p>
</div>
<div class="history_box">
  <a href="/maps/history2">Flinders Lane route</a>
  <p> Avg time - 11:02</p>
  <p>Times taken - 12</p>
</div>

<div class="empty_box">

</div>
</div>
