

<div class="googleMaps">

  <h1 >Your previous Strides</h1>
<div>
  <a href="/maps/history1">River route</a>
</div>
<div>
  <a href="/maps/history2">Flinders Lane route</a>
</div>

<div class="empty_box">

</div>
</div>
