<h6>Your time</h6>

<h1>11:30</h1>

<div class="name_box">
  <div class="form-group">
    <h6>Name your Stride</h6>
    <input class="form-control" id="save" type="text">
  </div>
  <a href="/maps"><button class="btn btn-default" >Save</button></a>
</div>

<h6>Did you see this on the way?</h6>
<div class="street_view_box">
  <a class="poi_link" href="https://www.google.com/maps/place/Signal/@-37.8195004,144.962766,161m/data=!3m2!1e3!4b1!4m5!3m4!1s0x6ad642b38c1de6b3:0x484c97c266b5027c!8m2!3d-37.8195015!4d144.9633132?hl=en-GB">Signal Creative Studio</a>
<iframe class="street_view" src="https://www.google.com/maps/embed?pb=!1m0!4v1507865454181!6m8!1m7!1sCAoSLEFGMVFpcE9SMlZEeC0wRTVCZFExcVBvZFFIX3NXOE9qWFZzemlnT0FPWHZS!2m2!1d-37.8195686!2d144.9632263!3f330.75!4f21.569999999999993!5f1.0811762147485968" ></iframe>
</div>
