
<h1 class="your_route">Your Route</h1>
<div class="maps_display">
<iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCHIke_VupGQoRhXyJtgCrEZYFo3dJaRa0&origin=Flinders+Street+Railway+Station,+Flinders+Street,+Melbourne,+Victoria,+Australia/45+William+St,+Melbourne+VIC+3000,+Australia&destination=45+William+St,+Melbourne+VIC+3000,+Australia&waypoints=Signal,+Northbank,+Flinders+Walk,+Melbourne+VIC+3000,+Australia&mode=walking"></iframe>


<div>
  <p><span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></p>
</div>
<div>
  <button id="button-start" class="btn btn-secondary">Start journey</button>
  <a href="/maps/results"><button id="button-stop" class="btn btn-secondary">End journey</button></a>
</div>

</div>
