
<h1 class="your_route">Your Route</h1>
<div class="maps_display">
<iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCHIke_VupGQoRhXyJtgCrEZYFo3dJaRa0&origin=Flinders+Street+Railway+Station,+Flinders+Street,+Melbourne,+Victoria,+Australia/45+William+St,+Melbourne+VIC+3000,+Australia&destination=45+William+St,+Melbourne+VIC+3000,+Australia&waypoints=Walker's+Doughnuts,+2%2F26+Elizabeth+St,+Melbourne+VIC+3000,+Australia&mode=walking"></iframe>

<h3>A Point of interest on your way...</h3>
<a href="https://www.google.com/maps/place/Walker's+Doughnuts/@-37.8180288,144.9629567,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad642b4758afc1d:0x8dc43d4fb63c119a!8m2!3d-37.8180331!4d144.9651454">Walkers Doughnuts</a>
<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1507796672436!6m8!1m7!1sQ0oYtc-a36D8EVmjWAu-zw!2m2!1d-37.81805142912003!2d144.9652042120356!3f333.5658173111453!4f-3.6863593668888655!5f1.5325130208858928" ></iframe>
</div>
