
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading"><img style="width: 100%; " src="/img/BLACKlogo-01.png" alt=""></h1>

            <!-- <br>Created by Florida Melbourne</p> -->
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <%= form_tag '/maps/show', method: 'get', class: 'form' do %>

          <div class="form-group">
              <label for="email">Origin</label>
              <input type="text" class="form-control" id="" value="Flinders Street Railway Station">
            </div>
            <div class="form-group">
              <label for="">Destination</label>
              <input type="text" class="form-control" id="" value="45 William St, Melbourne">
            </div>

            <button type="submit" class="btn btn-default">Find your Stride</button>
          </div>
        <% end %>


      </div>
    </div>
  </div>

</section>
