
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Route Roulette</h1>
          <p class="intro-text">showing you the quickest and most interesting way to get around the city
            <br>Created by Florida Melbourne</p>
          <!-- <a href="#about" class="btn btn-circle js-scroll-trigger">
            <!-- <i class="fa fa-angle-double-down animated"></i> -->
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <%= form_tag '/maps/show', method: 'post', class: 'form' do %>
      <div>
        <label for="">Origin</label>
        <input type="text" name="origin">
      </div>
      <div>
        <label for="">Destination</label>
        <input type="text" name="destination">
      </div>
        <a class="nav-link js-scroll-trigger" href="/maps">find your route</a>

      <% end %>

      </div>
    </div>
  </div>
</section>
