
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading"><img style="width: 100%; " src="/img/BLACKlogo-01.png" alt=""></h1>
          <p class="intro-text">Your change of pace</p>
            <!-- <br>Created by Florida Melbourne</p> -->
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <%= form_tag '/maps/show', method: 'post', class: 'form' do %>
      <div>
        <label for="">Origin</label>
        <input type="text" name="origin">
      </div>
      <div>
        <label for="">Destination</label>
        <input type="text" name="destination">
      </div>
        <a class="nav-link js-scroll-trigger" href="/maps/show">find your route</a>

      <% end %>

      </div>
    </div>
  </div>
</section>
